server:
  #  端口号8086不要修改！！！
  port: 8086

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/music_dreamer?useUnicode=true&useSSL=false&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: root
  application:
    #  名称Mod_setting不要改！
    #  名称Mod_setting不要改！
    name: Mod_setting
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

# MyBatis Plus配置
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

# 消息模块配置
message:
  max-content-length: 1000